<ion-view view-title="Account">
  <ion-content>
    <ion-list>
    <h3>GSIS Bathroom 1</h3>
     <div>
        <input type="text" placeholder="Comments or reviews" ng-model="data.bathroomcomment">
      </div>
      <button class="button button-block button-stable" ng-click="insert()">Comment</button>
      <button class="button button-block button-stable" ng-click="select()">See Comments</button>
      <ion-item ng-repeat="item in items">
    	<p>{{item.comment}}</p>
 	 </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
